<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>{% block title %}{% endblock %}ISAW Bibliography</title>--->
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
          {% block footer %}
          <br><br>Developed by Patrick J. Burns, <a href="http://isaw.nyu.edu/library" target="_blank">ISAW Library</a>.
          {% endblock %}
        </div>
    </div>
  </body>
</html>