{% extends "base.html" %}
{% block title %}
{% if title %}
    | {{ title }}
{% endif %}
{% endblock %}
{% block content %}
<h1>ISAW Bibliography</h1>
        <p>There are {{count}} items in this collection.</p>
        {% for item in items %}
            <div class="citation">
                {{item['data']['citation'] | safe}} <a href="{{item['links']['alternate']['href']}}" target="_blank"><img src="{{ url_for('static', filename='icon_linkout.png') }}" height=12 width=12></a>
            </div>
        {% endfor %}
{% endblock %}
