{% extends "base.html" %}

<meta charset="utf-8">



{% block title %}
{% if title %}
    | {{ title }}
{% endif %}
{% endblock %}
{% block content %}
<h1>ISAW Bibliography</h1>
<h2>{{ author|title }} Publication Counts by Year</h2>
<!-- bar chart canvas element -->
<canvas id="myChart" width="960" height="720"></canvas>

<script>
var xValues = [{% for item in labels %}
                  {{item}},
                {% endfor %}]

var yValues = [{% for item in values %}
                  {{item}},
                {% endfor %}]

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    },
    plugins: {
        legend: false,
    },
  }
});

</script>
{% endblock %}
